@import '../../mixins/text-color.mixin';
@import '../../mixins/align.mixin';
@import 'navigation.setup';

.navigation {
	@include -align-center;

	list-style-type: none;
	width: $navigation-width;

	&__item {
		margin-top: $navigation-outer-spacing-top;

		&:first-of-type {
			margin-top: $navigation-outer-spacing-reset;
		}
	}

	&__link {
		@include -text-color-white;

		cursor: pointer;
		display: block;
		transition: transform .2s ease-in-out;

		svg {
			transition: stroke .3s ease-in-out;
		}

		&:hover {
			transform: scale(1.1);

			svg {
				stroke: $navigation-link-stroke-color-hovered;
			}
		}
	}
}