##FILES##
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

/_frontend
/node_modules
/public/hot
/public/storage
/public/uploads/profilePictures/*
/storage/*.key
/vendor
/.idea
/.vagrant