.beachcourt-item .favorite-link {
  display: none;
}

.beachcourt-item .rating__count {
  margin-left: 0;
}

.beachcourt-item .link-icon-text__icon {
  margin-right: 0;
}

.tipso_bubble {
  border-radius: 2px;
}

.tipso_style {
  border-bottom: none;
}

.tipso_title,
.tipso_content {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

.beachcourt-detail__favorite {
  position: relative;
  width: 40px;
  height: 40px;
  float: right;
}

.beachcourt-detail__favorite .beachcourt-item__favorite {
  width: 40px;
  height: 40px;
  right: 0;
  top: -20px;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
    visibility: hidden;
  }
}

.section__button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.beachcourt-item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-image-hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
  padding: 2rem;
  text-align: center;
}

.algolia-places {
  width: 100%;
}

.ap-input,
.ap-hint {
  border-radius: 0;
}

.ap-input:hover ~ .ap-input-icon svg,
.ap-input:focus ~ .ap-input-icon svg,
.ap-input-icon:hover svg {
  display: none;
}

.ap-dropdown-menu {
  z-index: 1000;
  display: block;
  opacity: 1;
}

.ap-suggestion {
  font-family: 'PT Sans';
}

.ap-input-icon {
  display: none;
}

