.beachcourt-item .favorite-link {
  display: none;
}

.beachcourt-item .rating__count {
  margin-left: 0;
}

.beachcourt-item .link-icon-text__icon {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
    visibility: hidden;
  }
}

.algolia-places {
  width: 100%;
}

.ap-input,
.ap-hint {
  border-radius: 0;
}

.ap-input:hover ~ .ap-input-icon svg,
.ap-input:focus ~ .ap-input-icon svg,
.ap-input-icon:hover svg {
  display: none;
}

.ap-dropdown-menu {
  z-index: 1000;
  display: block;
  opacity: 1;
}

.ap-suggestion {
  font-family: 'PT Sans';
}

.ap-input-icon {
  display: none;
}

