.beachcourt-item .favorite-link {
  display: none;
}

.beachcourt-item .rating__count {
  margin-left: 0;
}

.beachcourt-item .link-icon-text__icon {
  margin-right: 0;
}

.tipso_bubble {
  border-radius: 2px;
}

.tipso_style {
  border-bottom: none;
}

.tipso_title,
.tipso_content {
  font-family: 'PT Sans', sans-serif;
  font-size: .875rem;
}

.beachcourt-detail__favorite {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  float: right;
}

.beachcourt-detail__favorite .beachcourt-item__favorite {
  width: 2.5rem;
  height: 2.5rem;
  right: 0;
  top: -1.25rem;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
    visibility: hidden;
  }
}

.section__button {
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
}

.beachcourt-item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-headline__subtitle {
  max-width: 763px;
}

@media screen and (max-width: 768px) {
  .intro-headline__subtitle {
    max-width: unset;
  }
}

.gallery {
  border: 1px #efefef solid;
  border-radius: .25rem;
  padding: .625rem;
  display: none;
}

.algolia-places {
  width: 100%;
}

.ap-input,
.ap-hint {
  border-radius: 0;
}

.ap-input:hover ~ .ap-input-icon svg,
.ap-input:focus ~ .ap-input-icon svg,
.ap-input-icon:hover svg {
  display: none;
}

.ap-dropdown-menu {
  z-index: 1000;
  display: block;
  opacity: 1;
}

.ap-suggestion {
  font-family: 'PT Sans';
}

.ap-input-icon {
  display: none;
}

