@import '../../setup/pxtorem';

$hint-position-right: rem(100px) !default;

 $hint-position-right-s: rem(100px) !default;
 $hint-position-right-m: rem(30px) !default;

$hint-position-top: rem(10px) !default;
$hint-position-top-s: rem(50px) !default;
$hint-position-top-m: rem(65px ) !default;

$hint-image-width: rem(190px) !default;
$hint-image-width-m: rem(250px) !default;