@import '../../setup/pxtorem';

$icon-text-width: 100% !default;
$icon-text-icon-dimension: rem(16px) !default;
$icon-text-icon-spacing-outer-top: rem(4px) !default;
$icon-text-text-outer-spacing-left: rem(10px) !default;