.beachcourt-item .favorite-link {display: none;}
.beachcourt-item .rating__count {margin-left: 0;}
.beachcourt-item .link-icon-text__icon {margin-right: 0;}

//TOOLTIP
.tipso_bubble {border-radius: 2px;}
.tipso_style {border-bottom: none;}
.tipso_title, .tipso_content {font-family: 'PT Sans', sans-serif; font-size: .875rem;}

.beachcourt-detail__favorite {
	position: absolute;
	top: 1.875rem;
	right: 1.25rem;
	z-index: 2;
	width: 2.5rem;
	height: 2.5rem;
}
.beachcourt-detail__favorite .beachcourt-item__favorite {
	width: 2.5rem;
	height: 2.5rem;
	right: 0;
	top: -1.25rem;
}

.hide-on-desktop {
	display: block;
}

@media screen and (max-width: 768px) {
	.hide-on-mobile {display: none; visibility: hidden;}
}

@media screen and (min-width: 500px) {
	.hide-on-desktop {display: none; visibility: hidden;}
}

.section__button {
	position: absolute;
	top: 1.875rem;
	right: 1.875rem;
}

.beachcourt-item__image {display: flex;}

.intro-headline__subtitle {
	max-width: 763px;
}

@media screen and (max-width: 768px) {
	.intro-headline__subtitle {
		max-width: unset;
	}	
}


.gallery {
	border: 1px #efefef solid;
	border-radius: .25rem;
	padding: .625rem;
	display: none;
}

@media screen and (max-width: 768px) {
	.form--homepage-search {
		display: none;
	}
}

.number {
	background: #f1f1f1;
	border-radius: 50%;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	z-index: 1;
	position: relative;
	line-height: 50px;
	font-size: 20px;
}

.number::before,
.number::after {
	content: '';
	z-index: -1;
	width: 31.25rem;
	height: 2px;
	display: block;
	background: #f1f1f1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.number::before {
	left: -100%;
}

.number::after {
	right: -100%;
}

.no-scroll {
	overflow-y: hidden;
}

.password-strength {
	margin-right: 1rem;
}

.sidebar {
	transition: all .3s ease-in-out;
}

.sidebar--open {
	width: 200px;
	padding-left: 20px;
	padding-right: 20px;
}

.navigation--open {
	text-align: left;
}

.navigation__link {
	text-decoration: none;
}

.navigation__label {
	display: none;
	line-height: 24px;
	vertical-align: bottom;
	margin-left: 15px;
}

.navigation__link:hover .navigation__label {
	color: #08b8b8;
}

.navigation__label--visible {
	display: inline-block;
}

.sidebar-filter {
	position: fixed;
	right: -200%;
	top: 0;
	height: 100vh;
	width: auto;
	overflow-y: auto;
	background: #f3f3f3;
	z-index: 10;
	padding: 40px;
	transition: all .5s ease-in-out;

	&--open {
		right: 0;
		z-index: 100;
	}

	&__option {
		padding-bottom: 1.875rem;
		border-bottom: 1px #798796 solid;
	}

	&__icon {
		position: absolute;
		right: .625rem;
		top: .625rem;
		color: #798796;
		width: 1.5625rem;
		height: 1.5625rem;
		cursor: pointer;
	}
}

.tab {
	float: left;
	width: 100%;
	&--active {
		display: block;
	}
}

.group-rate {
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;

	&--error {
		background: rgba(206, 64, 53, .2);
		color: #FFF;
	}

	&--hint{ display: none; }
}


.overlay {
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255, .9);
	position: fixed;
	left: 0;
	top: -100%;
	z-index: 40;
	padding: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity .3s ease-in-out;

	&--open {
		opacity: 1;
		top: 0;
	}

}

.overlay-form {
	width: 100%;
}

.menu-mobile {
	display: none;
}

@media screen and (max-width: 500px) {
	.menu-mobile {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 15px;
		right: 15px;
		width: 50px;
		height: 50px;
		z-index: 100;
		background: #FFF;
		border-radius: 50%;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.05);

		&--search {
			bottom: 70px;
		}

		&__icon {
			&--close {
				display: none;
			}
		}

		.sidebar-filter {
			width: 100vw;
		}
	}

	.icon-menu {
		&__icon {
			cursor: pointer;
			color: #f6f6f6;
			width: 1.875rem;
			height: 1.875rem;
		}
	}

	.icon-search {
		position: absolute;
		left: 1.875rem;
		top: 1.875rem;
		color: #FFF;

		&__icon {
			width: 1.75rem;
			height: 1.75rem;
		}
	}

	.sidebar {
		left: -70px;

		&--mobile-visible {
			left: 0;
		}
	}

	.section {
		margin-left: 0;
		max-width: unset;
	}

	.header {
		display: none;
	}

	.content {
		padding: 0 7% 0 7%;
	}
}

//ALGOLIA
// Main input wrapper
.algolia-places {width: 100%}

// The algolia-places input
.ap-input, .ap-hint {border-radius: 0;}

// The style of the svg icons when the input is on hover
.ap-input:hover ~ .ap-input-icon svg,
.ap-input:focus ~ .ap-input-icon svg,
.ap-input-icon:hover svg {display: none;}

// The dropdown style
.ap-dropdown-menu {z-index: 1000; display: block; opacity: 1; }

// The suggestions style
.ap-suggestion {font-family: 'PT Sans';}

// The highlighted names style
.ap-suggestion em {}

// The addresses style
.ap-address {}

// The icons of each suggestions ( can be a building or a pin )
.ap-suggestion-icon {}

// The style of the svg inside the .ap-suggestion-icon
.ap-suggestion-icon svg {}

// The icons inside the input ( can be a pin or a cross )
.ap-input-icon {display: none;}

// The style of the svg inside the .ap-input-icon
.ap-input-icon svg {}

// .a-cursor is the class a suggestion go on hover
.ap-cursor {}

// The style of the svg icon, when the .ap-suggestion is on hover
.ap-cursor .ap-suggestion-icon svg {}

// The styles of the Algolia Places input footer
.ap-footer {}

// The styles of the Algolia Places input footer links
.ap-footer a {}

// The styles of the Algolia Places input footer svg icons
.ap-footer a svg {}

// The styles of the Algolia Places input footer on hover
.ap-footer:hover {}