$color-palette-white:			#FFF !default;

$color-palette-petrol-blue: 	#457b8c !default;
$color-palette-green: 			#08b8b8 !default;
$color-palette-red:				#ce4034 !default;
$color-palette-gray-01: 		#798796 !default;
$color-palette-gray-02: 		#595556 !default
$color-palette-gray-03:			#f3f3f3 !default;