@import 'pxtorem';

$font-size-headline-01: rem(25px) !default;
$font-size-headline-01-m: rem(40px) !default;

$font-size-headline-02: rem(30px) !default;
$font-size-headline-02-m: rem(35px) !default;

$font-size-headline-03: rem(20px) !default;
$font-size-headline-03-m: rem(30px) !default;

$font-size-headline-04: rem(20px) !default;

$font-size-copy: rem(16px) !default;
$font-size-copy-small: rem(12px) !default;

$line-height-copy: 1.5 !default;