@import '../../setup/color-palette.setup';
@import '../../setup/pxtorem';


$input-width: 100% !default;
$input-height: rem(50px) !default;
$input-field-width: 100% !default;
$input-field-height: 100% !default;
$input-field-border-width: 1px !default;
$input-field-border-color: $color-palette-gray-03 !default;
$input-field-inner-spacing-horizontal: rem(20px) !default;
$input-field-inner-spacing-left: 0 !default;
$input-field-inner-spacing-right: rem(45px) !default;

$input-icon-position-right: rem(10px) !default;
$input-icon-position-top: 50% !default;
$input-icon-height: rem(20px) !default;
$input-icon-opacity: 1 !default;
$input-icon-not-visible-opacity: 0 !default;

$input-label-position-top: 50% !default;
$input-label-position-left: 0 !default;
$input-label-opacity: 0 !default;
$input-label-font-size: rem(18px) !default;

$input-border-width: 0 !default;
$input-border-height: 2px !default;
$input-border-position-reset: 0 !default;
$input-border-width-focused: 100% !default;
$input-field-inner-spacing-top-placeholder-show: rem(25px) !default;

$input-label-position-top-focused: rem(8px) !default;
$input-label-font-size-focused: rem(12px) !default;
$input-label-opcaity-focused: 1 !default;