@import '../../mixins/text-color.mixin';
@import '../../mixins/typo.mixin';

@import 'password-strength.setup';

.password-strength {
	@include -typo-copy;
	
	&--valid {
		@include -text-color-green;

		&::before {
			content: '✔';
			position: relative;
			margin-right: $password-strength-spacing-outer-right;
		}
	}

	&--invalid {
		@include -text-color-red;

		&::before {
			position: relative;
			margin-right: $password-strength-spacing-outer-right;
			content: '✖';
		}
	}	
}