@import '../../setup/pxtorem';

$infobox-width: 100% !default;

$infobox-icon-dimension: rem(80px) !default;
$infobox-icon-opacity: .5 !default;
$infobox-icon-position-right: rem(30px) !default;
$infobox-icon-position-top: 50% !default;
$infobox-icon-scale-x: 1 !default;

$infobox-text-font-size: rem(20px) !default;