@import '../../setup/pxtorem';

$overlay-gradient-height: 100% !default;
$overlay-gradient-width: rem(200px) !default;
$overlay-gradient-position-reset: 0 !default;
$overlay-gradient-position-right: rem(30px) !default;